{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Medica - Health</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="medica-load"></div>
    <img src="{% static 'img/core-img/plus.png' %}" alt="logo">
</div>

<!-- ***** Header Area Start ***** -->
<header class="header-area">
    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 h-100">
                    <div class="main-menu h-100">
                        <nav class="navbar h-100 navbar-expand-lg">
                            <!-- Logo Area  -->
                            <a class="navbar-brand" href="{% url 'smo:home' %}"><img
                                    src="{% static 'img/core-img/logo.png' %}"
                                    alt="Logo"></a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#medicaMenu" aria-controls="medicaMenu" aria-expanded="false"
                                    aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu
                            </button>

                            <div class="collapse navbar-collapse" id="medicaMenu">
                                <!-- Menu Area -->
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="{% url 'smo:home' %}">Home <span
                                                class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" href="{% url 'smo:home' %}">Home</a>
                                            <a class="dropdown-item" href="{% url 'smo:about_us' %}">About Us</a>
                                            <a class="dropdown-item" href="{% url 'smo:services' %}">Services</a>
                                            <a class="dropdown-item" href="{% url 'smo:blog' %}">News</a>
                                            <a class="dropdown-item" href="{% url 'smo:contact' %}">Contact</a>
                                            <a class="dropdown-item" href="{% url 'smo:elements' %}">Elements</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'smo:about_us' %}">About Us</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'smo:services' %}">Services</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'smo:blog' %}">News</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'smo:contact' %}">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'smo:apppointment' %}">Make an apppointment</a>
                                    </li>
                                </ul>
                                <!-- Search Form -->
                                <div class="header-search-form ml-auto">
                                    <form action="#">
                                        {% csrf_token %}
                                        <input type="search" class="form-control"
                                               placeholder="Input your keyword then press enter..." id="search"
                                               name="search">
                                        <input class="d-none" type="submit" value="submit">
                                    </form>
                                </div>
                                <!-- Search btn -->
                                <div id="searchbtn">
                                    <i class="ti-search" aria-hidden="true"></i>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

{% block content %}

{% endblock %}

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area">
    <!-- Main Footer Area -->
    <div class="main-footer-area section_padding_100 bg-default">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="footer-logo">
                            <img src="{% static 'img/core-img/footer-logo.png' %}" alt="">
                        </div>
                        <p>Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula
                            nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique
                            nibh.</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Latest News</h6>
                        </div>
                        <div class="widget-blog-post">
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail pr-2">
                                    <img src="{% static 'img/bg-img/fp1.jpg' %}" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">A big discovery for medicine</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail pr-2">
                                    <img src="{% static 'img/bg-img/fp2.jpg' %}" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">Dentistry for everybody</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                            <!-- Single Blog Post -->
                            <div class="widget-single-blog-post d-flex">
                                <div class="widget-post-thumbnail pr-2">
                                    <img src="{% static 'img/bg-img/fp3.jpg' %}" alt="">
                                </div>
                                <div class="widget-post-content">
                                    <a href="#">When it’s time to take pills</a>
                                    <p>Dec 02, 2017</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>Usefull links</h6>
                        </div>
                        <ul>
                            <li><a href="{% url 'smo:apppointment' %}">Book an Appointment</a></li>
                            <li><a href="{% url 'smo:contact' %}">Contacts</a></li>
                            <li><a href="{% url 'smo:about_us' %}">Doctors</a></li>
                            <li><a href="{% url 'smo:services' %}">Services</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-3">
                    <div class="footer-widget-area">
                        <div class="widget-title">
                            <h6>contact us</h6>
                        </div>

                        <div class="widget-contact">
                            <!-- Single Contact Info -->
                            <div class="widget-single-contact d-flex align-items-center">
                                <div class="widget-contact-thumbnail mr-15">
                                    <img src="{% static 'img/icons/alarm-clock.png' %}" alt="">
                                </div>
                                <div class="widget-contact-info">
                                    <p>Monday - Friday 08:00 - 21:00 <br>Saturday &amp; Sunday - CLOSED</p>
                                </div>
                            </div>
                            <!-- Single Contact Info -->
                            <div class="widget-single-contact d-flex align-items-center">
                                <div class="widget-contact-thumbnail mr-15">
                                    <img src="{% static 'img/icons/map-pin.png' %}" alt="">
                                </div>
                                <div class="widget-contact-info">
                                    <p>Lamas Carbajal Str, no 14-18 <br>41770 Montellano</p>
                                </div>
                            </div>
                            <!-- Single Contact Info -->
                            <div class="widget-single-contact d-flex align-items-center">
                                <div class="widget-contact-thumbnail mr-15">
                                    <img src="{% static 'img/icons/envelope.png' %}" alt="">
                                </div>
                                <div class="widget-contact-info">
                                    <p>0080 673 729 766 <br>contact@business.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100">
                    <div class="bottom-footer-content h-100 d-md-flex align-items-center justify-content-between">

                        <!-- Footer Menu -->
                        <div class="footer-menu">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Doctors</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
<!-- Popper js -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!-- Bootstrap js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Plugins js -->
<script src="{% static 'js/plugins.js' %}"></script>
<!-- Active js -->
<script src="{% static 'js/active.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
<script src="{% static 'js/map-active.js' %}"></script>

</body>

</html>