{% extends 'smo/base.html' %}
{% load static %}
{% block content %}
    <!-- ***** Hero Area Start ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img"
                 style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services
                                </h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="{% url 'smo:about_us' %}" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img"
                 style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services
                                </h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="{% url 'smo:about_us' %}" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Hero Slide -->
            <div class="single-hero-slide height-800 bg-img"
                 style="background-image: url({% static 'img/bg-img/hero1.jpg' %});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="hero-slides-content">
                                <h2 data-animation="fadeInUp" data-delay="100ms">We provide top <br>medical services
                                </h2>
                                <h5 data-animation="fadeInUp" data-delay="400ms">More than 30 professionals</h5>
                                <div class="slide-btn-group mt-50" data-animation="fadeInUp" data-delay="700ms">
                                    <a href="#" class="btn medica-btn">Make an Appointment</a>
                                    <a href="{% url 'smo:about_us' %}" class="btn medica-btn ml-2 btn-2">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Hero Area End ***** -->

    <!-- ***** Contact Info Area Start ***** -->
    <div class="medica-contact-info-area">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="contact-icon mr-30">
                            <img src="{% static 'img/icons/alarm-clock.png' %}" alt="">
                        </div>
                        <div class="contact-meta">
                            <p>Monday - Friday 08:00 - 21:00 <br> Saturday and Sunday - CLOSED</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="contact-icon mr-30">
                            <img src="{% static 'img/icons/envelope.png' %}" alt="">
                        </div>
                        <div class="contact-meta">
                            <p>0080 673 729 766 | 0080 234 5678 900 <br> contact@business.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="single-contact-info d-flex align-items-center">
                        <div class="contact-icon mr-30">
                            <img src="{% static 'img/icons/map-pin.png' %}" alt="">
                        </div>
                        <div class="contact-meta">
                            <p>Lamas Carbajal Str, no 14-18 <br> 41770 Montellano</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Contact Info Area End ***** -->

    <!-- ***** About Us Area Start ***** -->
    <section class="medica-about-us-area">
        <!-- Card Area -->
        <div class="medica-card-area">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-emergency-card wow fadeInUp" data-wow-delay="0.2s">
                            <h5>For Emergencies</h5>
                            <h4>+0080 954 4557 884</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis id explicabo quam
                                quo nisi nihil ducimus, possimus. Lorem ipsum dolor sit amet.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="medica-doctors-card wow fadeInUp" data-wow-delay="0.4s">
                            <h5>The Doctors</h5>
                            <p>Sit amet, consectetur adipisicing elit. Perferendis id explicabo quam quo nisi nihil
                                ducimus, possimus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum
                                dolor sit amet, consectetur.</p>
                            <a href="#">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="medica-appointment-card wow fadeInUp" data-wow-delay="0.6s">
                            <h5>Book an apppointment</h5>
                            
                                <button type="submit" class="btn medica-btn mt-15"><a href="{% url 'smo:apppointment' %}">Make an Appointment</a></button>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Contact -->
        <div class="medica-about-content section_padding_100">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="medica-about-text">
                            <h2>Welcome to <span>Medica</span> Health Center</h2>
                            <p>Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus vehicula
                                nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel tristique
                                nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor sollicitudin.
                                Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. Fusce ac mattis
                                nulla. Morbi eget ornare dui. Donec nec fringilla mi. Pellentesque molestie consequat
                                felis vitae elementum. Proin ut tempor urna.</p>
                            <ul>
                                {% for object in services %}
                                    <li>{{ object.title }}</li>
                                {% endfor %}
                            </ul>
                            <a href="{% url 'smo:services' %}" class="btn medica-btn btn-2">Read More</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="medica-about-thumbnail">
                            <img src="{% static 'img/bg-img/doctor.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** About Us Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <section class="medica-services-area section_padding_100 bg-img gradient-background-overlay"
             style="background-image: url({% static 'img/bg-img/service.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading white-heading">
                        <img src="{% static 'img/icons/hospital2.png' %}" alt="">
                        <h2>Our Services</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                {% for object in services %}
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="single-service-area wow fadeInUp" data-wow-delay="0.2s">
                            <img src="/media/{{ object.icon }}" alt="">
                            <h5>{{ object.title }}</h5>
                            <p>{{ object.content }}</p>
                        </div>
                    </div>
                {% endfor %}

                <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.9s">
                    <a href="{% url 'smo:services' %}" class="btn medica-btn">See All Services</a>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Services Area End ***** -->

    <!-- ***** Doctors Area Start ***** -->
    <section class="medica-doctors-area section_padding_100_20">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading">
                        <img src="img/icons/doctor.png" alt="">
                        <h2>Our Doctors</h2>
                        <p>Phasellus at nunc orcidonec ipsum metus, pharetra quis nunc sit amet</p>
                    </div>
                </div>
            </div>
            {% for object in doctors %}
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-doctor-area">
                        <div class="doctor-thumbnail">
                            <img src="media/{{ object.photo }}" alt="">
                        </div>
                        <div class="doctor-meta">
                            <h5>{{ object.name }}</h5>
                            <h6>{{ object.speciality }}</h6>
                        </div>
                    </div>
                </div>
            {% endfor %}


            </div>
        </div>
    </section>
    <!-- ***** Doctors Area End ***** -->

    <!-- ***** Testimonials Area Start ***** -->
    <section class="medica-testimonials-area section_padding_100 bg-img background-overlay"
             style="background-image: url({% static 'img/bg-img/hero2.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section_heading white-heading">
                        <img src="{% static 'img/icons/stethoscope.png' %}" alt="">
                        <h2>Clients Testimonials</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="testimonials-slider owl-carousel">
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6>“ Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus
                                vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel
                                tristique nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. ”</h6>
                            <div class="testimonial-given-author-info">
                                <img src="{% static 'img/bg-img/testimonials2.jpg' %}" alt="">
                                <h6>Julia Smith</h6>
                                <p>Pacient</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6>“ Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus
                                vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel
                                tristique nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. ”</h6>
                            <div class="testimonial-given-author-info">
                                <img src="{% static 'img/bg-img/testimonials2.jpg' %}" alt="">
                                <h6>Julia Smith</h6>
                                <p>Pacient</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Testimonials Slide -->
            <div class="single-testimonial-slide">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h6>“ Phasellus at nunc orci. Donec ipsum metus, pharetra quis nunc sit amet, maximus
                                vehicula nibh. Praesent pulvinar porta elit, a commodo erat accumsan sed. Vivamus vel
                                tristique nibh. Donec imperdiet congue orci consequat mattis. Donec rutrum porttitor
                                sollicitudin. Pellentesque id dolor tempor sapien feugiat ultrices nec sed neque. ”</h6>
                            <div class="testimonial-given-author-info">
                                <img src="{% static 'img/bg-img/testimonials2.jpg' %}" alt="">
                                <h6>Julia Smith</h6>
                                <p>Pacient</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Area End ***** -->

    <!-- ***** CTA Area Start ***** -->
    <section class="medica-call-to-action section_padding_50_0 gradient-background">
        <div class="container">
            <div class="row">
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="0.2s">
                        <div class="counter-area">
                            <h2><span class="counter">8723</span></h2>
                            <h6>Pacients since opening</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="0.6s">
                        <div class="counter-area">
                            <h2><span class="counter">120</span></h2>
                            <h6>Specialist Doctors </h6>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="1s">
                        <div class="counter-area">
                            <h2><span class="counter">12</span></h2>
                            <h6>Years of Experience</h6>
                        </div>
                    </div>
                </div>
                <!-- Single Cool Fact-->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-cool-fact wow fadeIn" data-wow-delay="1.4s">
                        <div class="counter-area">
                            <h2><span class="counter">83</span></h2>
                            <h6>Pro Bono Works</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** CTA Area End ***** -->

    <!-- ***** Appointment Area Start ***** -->
    <section class="medica-book-an-appointment-area section_padding_100_0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-card">
                        <h5>Book an apppointment</h5>

                                <div class="col-12">
                                    <button type="submit" class="btn medica-btn mt-15"><a href="{% url 'smo:apppointment' %}">Make an Appointment</a></button>
                                </div>

                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="medica-appointment-thumb">
                        <img src="{% static 'img/bg-img/medical1.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Appointment Area End ***** -->

    <!-- ***** Partners Area Start ***** -->
    <div class="medica-our-partners-area section_padding_100">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="our-partners-logo d-flex align-items-center justify-content-between">
                        <a href="#"><img src="img/partners-img/1.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/2.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/3.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/4.png" alt=""></a>
                        <a href="#"><img src="img/partners-img/5.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Partners Area End ***** -->

{% endblock %}